<md-subheader class="md-no-sticky">
  Tomar asistencia
</md-subheader>
<div layout="row">
  <md-input-container>
    <md-button class="md-raised"
               ng-class="{'true':'md-primary'}[state.status]"
               ng-click="changeAttendanceAttendanceState(state)"
               aria-label="changestatus"
               ng-repeat="state in states">
               <ng-md-icon icon="{{{'1':'thumb_up', '2': 'thumbs_up_down', '3': 'thumb_down'}[state.id]}}"
                           style="fill: black"></ng-md-icon>
     </md-button>
     <md-button class="md-raised md-warn"
                ng-click="cleanParticipants()"
                aria-label="cleanList">
                <ng-md-icon icon="delete"
                            style="fill: black"></ng-md-icon>
    </md-button>
  </md-input-container>
</div>
<div ng-if="participants.length == 0">
  <h1>Todos los participantes ya fueron registrados</h1>
</div>
<div layout="row" layout-wrap>
  <div flex="33"
      flex-sm="50"
      flex-xs="100"
      ng-repeat="participant in participants">
    <md-list-item ng-click="changeStatus(participant, $index)">
      <img alt="{{participant.first_name}}"
           ng-src="{{loadImage(person.img)}}"
           class="md-avatar" />
      <p>{{participant.first_name}} {{participant.last_name}}</p>
       <md-button ng-if="participant.isloading"
                  aria-label="isloading"
                  class="md-fab md-raised md-mini">
          <ng-md-icon icon="done"
                      style="fill: black">
          </ng-md-icon>
       </md-button>
       <md-button ng-if="participant.done"
                  aria-label="done"
                  class="md-fab md-raised md-mini">
          <ng-md-icon icon="done_all"
                      style="fill: black">
          </ng-md-icon>
       </md-button>
    </md-list-item>
  </div>
</div>
