<div layout="raw">
    <div flex="80">
      <md-button class="md-raised"
                 ng-click="changeAttendanceState(state)"
                 aria-label="changestatus"
                 ng-repeat="state in states" style="background:{{state.color}}">
                 <ng-md-icon icon="done" ng-if="state.status" style="fill: black"></ng-md-icon>
                 {{state.title}}
      </md-button>
    </div>
    <div flex="20">
      <md-button class="md-raised"
                 aria-label="cleanList">
        {{currentState.title}}
      </md-button>
    </div>
</div>
<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{count}}" md-on-paginate="getParticipants" md-page-select></md-table-pagination>
<div ng-if="participants.length == 0">
  <h1>Todos los participantes ya fueron registrados</h1>
</div>
<div layout="row" layout-wrap>
  <div flex="33"
      flex-sm="50"
      flex-xs="100"
      ng-repeat="participant in participants">
    <md-list-item ng-click="changeStatus(participant, $index)">
      <img alt="{{participant.first_name}}"
           ng-src="{{loadImage(person.img)}}"
           class="md-avatar" />
      <p>{{participant.first_name}} {{participant.last_name}}</p>
       <md-button ng-if="participant.isloading"
                  aria-label="isloading"
                  class="md-fab md-raised md-mini">
          <ng-md-icon icon="done"
                      style="fill: black">
          </ng-md-icon>
       </md-button>
       <md-button ng-if="participant.done"
                  aria-label="done"
                  class="md-fab md-raised md-mini">
          <ng-md-icon icon="done_all"
                      style="fill: black">
          </ng-md-icon>
       </md-button>
    </md-list-item>
  </div>

</div>
