<div layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
        <ng-md-icon icon="menu"></ng-md-icon>
      </md-button>
      <h3>
        Areas
      </h3>
      <span flex></span>
      <md-button class="md-raised" ui-sref="attendance.area.list">Recientes</md-button>
      <md-button class="md-raised" ui-sref="attendance.area.old">Historico</md-button>
      <md-button aria-label="Open Settings" ng-click="showGridBottomSheet($event)">
        <ng-md-icon icon="more_vert"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <ui-view layout="column" layout-fill>
  </ui-view>

</div>
