  <md-toolbar class="md-whiteframe-5dp">
    <div class="md-toolbar-tools">
      <h1>Actualizar area</h1>
    </div>
  </md-toolbar>
  <md-content layout-padding class="md-inline-form">
    <div layout="row">
      <div flex=70>
        <form ng-submit="updateItem(item)">
          <div layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>titulo</label>
              <input ng-model="item.name"
                     type="text"
                     required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
              <label>Image</label>
              <input required type="text" name="image" ng-model="item.image">
              <div ng-messages="containerForm.image.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>

            <div layout="row" layout-align="end">
              <md-button class="md-raised" ui-sref="attendance.area.list">
                Cancelar
              </md-button>
              <md-button class="md-raised md-primary"
                         type="submit">Actualizar</md-button>
            </div>
          </div>
        </form>
      </div>
      <div flex=30>
        <img class="md-card-image" ng-src="{{current_image}}" />
        <button ngf-select="upload($file)">Cargar una foto</button>
      </div>
    </div>


  </md-content>
  <md-toolbar class="md-warn">
    <h1 class="md-toolbar-tools">
      Eliminar
    </h1>
  </md-toolbar>
  <md-content layout-padding>
    <div layout="row">
      <md-button class="md-raised"
      ng-click="deleteItem(item)">Eliminar</md-button>
    </div>
  </md-content>
