<md-content>
  <md-list>
    <md-subheader class="md-no-sticky">Areas</md-subheader>
    <div layout="row" layout-align="end">
      <md-button class="md-raised md-primary"
                 ng-click="create_area()">
                 <ng-md-icon icon="add"></ng-md-icon>
                 Crear nueva area
               </md-button>
    </div>
    <md-list-item ng-repeat="item in items"
                  ng-click="selectItem(item)">
      <p>{{item.name}}</p>
      <md-button class="md-raised md-primary"
                 ng-click="update_area(item, $index)">
        deshabilitar
      </md-button>
    </md-list-item>
    <md-divider></md-divider>
  </md-list>
</md-content>
