<div layout="row">
  <div layout="column" layout-fill>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          Area {{area.name}} - {{room.name}}
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Edit" ng-click="goToUpdate()">
          <ng-md-icon icon="edit"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Edit" ng-click="goToImport()">
          <ng-md-icon icon="import_export"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <ng-md-icon icon="more_vert"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <ui-view layout="column" layout-fill>
      <md-subheader class="md-primary">
        <span ng-click="reset()">
          | HOME
        </span>
        <span ng-repeat="group in groups" ng-click="reset(group)">
          | {{group.name}}
        </span>
      </md-subheader>
      <md-content layout-padding>

        <div layout="row" layout-align="end">
          <md-button aria-label="create"
                     class="md-raised md-primary"
                     ng-click="createParticipant($event)">
            <ng-md-icon icon="person_add"></ng-md-icon>
            Participante
          </md-button>
          <md-button aria-label="create"
                     class="md-raised md-primary"
                     ng-click="createRoom($event)">
            <ng-md-icon icon="group_add"></ng-md-icon>
            grupo
          </md-button>
        </div>
      </md-content>
      <md-subheader class="md-no-sticky">PARTICIPANTES</md-subheader>
      <div ng-if="participants.length == 0" class="wargos-text-align">
          <b>No existe <i>participantes</i> requistrados</b>
      </div>
      <div layout="row" layout-wrap>
        <div flex="33"
            flex-sm="50"
            flex-xs="100"
            ng-repeat="participant in participants">
          <md-list-item ng-click="loadParticipantById(participant, $index)">
            <img alt="{{participant.first_name}}"
                 ng-src="{{loadImage(participant.img)}}"
                 class="md-avatar" />
            <p>{{participant.first_name}} {{participant.last_name}}</p>
            <ng-md-icon icon="edit"
                        ng-click="goToParticipant(participant, $index, $event)"
                        aria-label="Send Email"
                        class="md-secondary md-hue-3" ></md-icon>
             <md-button ng-if="participant.isloading"
                        aria-label="isloading"
                        class="md-fab md-raised md-mini">
                <ng-md-icon icon="done"
                            style="fill: black">
                </ng-md-icon>
             </md-button>
             <md-button ng-if="participant.done"
                        aria-label="done"
                        class="md-fab md-raised md-mini">
                <ng-md-icon icon="done_all"
                            style="fill: black">
                </ng-md-icon>
             </md-button>
          </md-list-item>
        </div>
      </div>
      <md-subheader class="md-no-sticky">GRUPOS</md-subheader>
      <div ng-if="rooms.length == 0" class="wargos-text-align">
          <b>No existe <i>grupos</i> requistrados</b>
      </div>
      <div layout="row" layout-wrap>
        <div flex="33"
            flex-sm="50"
            flex-xs="100"
            ng-repeat="room in rooms">
          <md-list-item ng-click="loadRoomById(room, $index)">
            <img alt="{{room.first_name}}"
                 ng-src="{{loadImageGroup(person.img)}}"
                 class="md-avatar" />
            <p>{{room.name}}</p>
            <ng-md-icon icon="edit"
                        ng-click="goToRoom(room, $index, $event)"
                        aria-label="Send Email"
                        class="md-secondary md-hue-3" ></md-icon>
          </md-list-item>
        </div>
      </div>
    </ui-view>
  </div>
  <md-sidenav layout="column"
              class="md-sidenav-left md-whiteframe-z2"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          Eventos
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Edit" ng-click="createEvent()">
          <ng-md-icon icon="add"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <ng-md-icon icon="more_vert"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div ng-if="events.length == 0" class="wargos-text-align">
        <b>No existe <i>eventos</i> requistrados</b>
    </div>
    <!-- EVENTS -->
    <md-list>
      <md-list-item ng-repeat="event in events" ng-click="selectArea(area)">
         <p>{{event.title}}</p>
         <ng-md-icon icon="edit"
                     ng-click="goToEvent(event, $index, $event)"
                     aria-label="Send Email"
                     class="md-secondary md-hue-3" ></md-icon>
      </md-list-item>
    </md-list>
    <div ng-if="events.length > 0" class="wargos-text-align">
        <b ng-click="loadMoreEvents()">Cargar Mas</b>
    </div>
  </md-sidenav>
</div>
