<md-toolbar>
  <h1 class="md-toolbar-tools">
    Actualizar participante
  </h1>
</md-toolbar>
<md-content layout-padding>
  <form name="containerForm" ng-submit="update(item)">
    <md-input-container class="md-block">
      <label>UID (Identificador unico)</label>
      <input required type="text" name="uid" ng-model="item.uid" />
      <div ng-messages="containerForm.uid.$error" role="alert">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>
    <div layout="row">
      <md-input-container class="md-block" flex>
        <label>Nombre</label>
        <input required type="text" name="first_name" ng-model="item.first_name" />
        <div ng-messages="containerForm.first_name.$error" role="alert">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex>
        <label>Appellidos</label>
        <input required type="text" name="last_name" ng-model="item.last_name" />
        <div ng-messages="containerForm.last_name.$error" role="alert">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container class="md-block" flex>
        <label>Celular</label>
        <input required type="text" name="cel" ng-model="item.cel" />
        <div ng-messages="containerForm.cel.$error" role="alert">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex>
        <label>CI</label>
        <input required type="text" name="ci" ng-model="item.ci" />
        <div ng-messages="containerForm.ci.$error" role="alert">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container class="md-block" flex>
        <label>Direccion</label>
        <input required type="text" name="address" ng-model="item.address" />
        <div ng-messages="containerForm.address.$error" role="alert">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex>
        <label>Email</label>
        <input required type="text" name="email" ng-model="item.email" />
        <div ng-messages="containerForm.email.$error" role="alert">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </div>
    <md-input-container class="md-block" flex-gt-xs>
      <label>Imagen</label>
      <input type="text" name="image" ng-model="item.image" />
    </md-input-container>
    <!-- upload photo -->
    <button class="button" ngf-select="upload($file)">Cargar una foto</button>

    <div layout="row">
      <md-button class="md-raised" ng-click="goToBack()">Cancelar</md-button>
      <md-button type="submit" class="md-raised md-primary">Actualizar</md-button>
    </div>
  </form>
</md-content>
<md-toolbar class="md-warn">
  <h1 class="md-toolbar-tools">
    Eliminar
  </h1>
</md-toolbar>
<md-content layout-padding>
  <div layout="row">
    <md-button class="md-raised"
               ng-click="remove(item)">Eliminar</md-button>
  </div>
</md-content>
