<ui-view layout="column" layout-fill>
  <md-content layout-padding>
    <div layout="row" layout-align="end">
      <md-button aria-label="add att"
                 class="md-raised md-primary"
                 ui-sref="attendance.detail.room.att.onlyone">
        <ng-md-icon icon="done_all"></ng-md-icon>
        Asistencia
      </md-button>
      <md-button aria-label="create"
                 class="md-raised md-primary"
                 ng-click="createParticipant($event)">
        <ng-md-icon icon="person_add"></ng-md-icon>
        Participante
      </md-button>
      <md-button aria-label="create"
                 class="md-raised md-primary"
                 ng-click="createRoom($event)">
        <ng-md-icon icon="room"></ng-md-icon>
        Sala
      </md-button>
    </div>
  </md-content>

  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <span ng-click="discartGroup()">
        Participantes
      </span>
      <span flex></span>
      <md-input-container>
        <label>Grupos</label>
        <md-select ng-model="select.group" ng-change="selectGroup()" class="group-select-width-limit">
          <md-optgroup label="grupos">
            <md-option ng-value="group._id" ng-repeat="group in groups">{{group.name}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>
  </md-toolbar>

  <md-table-pagination md-limit="query.limit" md-limit-options="[10, 15, 20]" md-page="query.page" md-total="{{count}}" md-on-paginate="getParticipants" md-page-select></md-table-pagination>
  <div ng-if="participants.length == 0" class="wargos-text-align">
      <b>No existe <i>participantes</i> requistrados</b>
  </div>
  <div layout="row" layout-wrap>
    <div flex="33"
        flex-sm="50"
        flex-xs="100"
        ng-repeat="participant in participants">
      <md-list-item ng-click="goToParticipant(participant, $index)">
        <img alt="{{participant.first_name}}"
             ng-src="{{loadImage(participant.img)}}"
             class="md-avatar" />
        <p>{{participant.last_name}} {{participant.first_name}}</p>
      </md-list-item>
    </div>
  </div>

  <!-- ROOM -->
  <md-subheader class="md-no-sticky">Aulas</md-subheader>
  <div ng-if="rooms.length == 0" class="wargos-text-align">
      <b>No existe <i>aulas</i> requistrados</b>
  </div>
  <div layout="row" layout-wrap>
    <div flex="33"
        flex-sm="50"
        flex-xs="100"
        ng-repeat="room in rooms">
      <md-list-item ng-click="selectRoom(room, $index)">
        <img alt="{{room.name}}"
             ng-src="{{loadImageGroup(person.img)}}"
             class="md-avatar" />
        <p>{{room.name}}</p>
      </md-list-item>
    </div>
  </div>
</ui-view>
