<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>
      Identificadores
    </h2>
    <span flex></span>
    <div layout="row">
      <input type="number"
             class="wargos-qr-input"
             ng-change="updateDefaultData()"
             ng-model="size"
             placeholder="200"/>
      <input type="number"
             class="wargos-qr-input"
             ng-change="updateDefaultData()"
             ng-model="limit"
             placeholder="15"/>
      <md-button class="md-raised"
                 ng-click="previous()">
                 <ng-md-icon icon="chevron_left"></ng-md-icon>
      </md-button>
      <md-button class="md-raised"
                 ng-click="reset()">
                 {{qr_query.page}}
      </md-button>
      <md-button class="md-raised"
                ng-click="next()">
                <ng-md-icon icon="chevron_right"></ng-md-icon>
      </md-button>
      <md-button class="md-raised"
                 ng-click="loadParticipants()">
                 Buscar
      </md-button>
      <a class="md-button md-raised"
          target="_blank"
          ng-href="{{print_url}}"
          ng-mousedown="print()">Imprimir</a>
      <!-- <md-button class="md-raised"
                 target="_blank"
                 ng-click="print()">
                 Imprimir
     </md-button> -->
    </div>
  </div>
</md-toolbar>
<div layout="row" layout-wrap>
  <div layout-padding ng-repeat="participant in participants">
    <qrcode version="3"
            size="{{size}}"
            error-correction-level="M"
            data="{{participant.qr}}"
            href="{{participant.qr}}">
    </qrcode>
    <div class="qr-footer">
      <h5>{{participant.first_name}}</h5>
      <h5 style="padding: 0px; margin:0px; font-size: 8px;">
        {{participant.last_name}}
      </h5>
      <!-- <h6>{{participant.uid}}</h6> -->
    </div>
  </div>
</div>
<style media="screen">
.wargos-qr-input {
  width: 100px;
}
.qr-footer h5, .qr-footer h4, .qr-footer h6 {
  text-align: center;
  padding: 0mm;
  margin: 0mm;
}
</style>
