<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>
      Identificadores
    </h2>
    <span flex></span>
    <!-- <md-button class="md-raised"
               ui-sref="attendance.detail.room.template">
               Template
    </md-button> -->
    <div layout="row">
      <input type="number"
             class="wargos-qr-input"
             ng-change="updateDefaultData()"
             ng-model="size"
             placeholder="200"/>
      <input type="number"
             class="wargos-qr-input"
             ng-change="updateDefaultData()"
             ng-model="limit"
             placeholder="15"/>
      <md-button class="md-raised"
                 ng-click="getParticipants()">
                 Buscar
      </md-button>
      <a class="md-button md-raised"
          target="_blank"
          ng-href="{{print_url}}"
          ng-mousedown="print()">Imprimir</a>
    </div>
  </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar md-default room-groups">
  <div class="md-toolbar-tools">
    <div ng-if="!search.alive">
      <span ng-click="discartGroup()" ng-if="!search.alive">
        Participantes
      </span>
      <md-button class="md-icon-button" aria-label="search" ng-click="search.alive = true">
        <ng-md-icon icon="search"></ng-md-icon>
      </md-button>
    </div>
    <div ng-if="search.alive" class="search">
      <md-button class="md-icon-button" aria-label="search" ng-click="cancel_search()">
        <ng-md-icon icon="keyboard_backspace"></ng-md-icon>
      </md-button>
      <md-input-container>
        <label>Apellido</label>
        <input ng-model="query.last_name">
      </md-input-container>
      <md-input-container>
        <label>Nombre</label>
        <input ng-model="query.first_name">
      </md-input-container>
      <md-button class="md-icon-button"
                 aria-label="search"
                 ng-click="search_participant(query.last_name, query.first_name)">
        <ng-md-icon icon="search"></ng-md-icon>
      </md-button>
    </div>
    <span flex></span>
    <md-button class="md-icon-button"
               aria-label="previous"
               ng-click="previous()">
      <ng-md-icon icon="chevron_left"></ng-md-icon>
    </md-button>
    <md-button class="md-icon-button"
               aria-label="reset"
               ng-click="reset()">
               {{query.page}}
    </md-button>
    <md-button class="md-icon-button"
              aria-label="next"
              ng-click="next()">
      <ng-md-icon icon="chevron_right"></ng-md-icon>
    </md-button>
    <md-input-container>
      <label>Grupos</label>
      <md-select ng-model="select.group" ng-change="selectGroup()" class="group-select-width-limit">
        <md-optgroup label="grupos">
          <md-option ng-value="group._id" ng-repeat="group in groups">{{group.name}}</md-option>
        </md-optgroup>
      </md-select>
    </md-input-container>
  </div>
</md-toolbar>

<div layout="row" layout-wrap>
  <div layout-padding ng-repeat="participant in participants">
    <!-- <qrcode version="2"
            size="{{size}}"
            error-correction-level="M"
            data="{{participant.qr}}"
            href="#!/attendance/{{area_id}}/participant/{{participant._id}}">
    </qrcode> -->
    <a href="#!/attendance/{{area_id}}/participant/{{participant._id}}">
      <qr type-number="2"
          correction-level="'M'"
          size="size"
          input-mode="'text'"
          text="participant.uid" image="true">
      </qr>
    </a>
    <div class="qr-footer">
      <h5>{{participant.first_name}}</h5>
      <h5 style="padding: 0px; margin:0px; font-size: 8px;">
        {{participant.last_name}}
      </h5>
      <h6>{{participant.uid}}</h6>
    </div>
  </div>
</div>
<style media="screen">
.wargos-qr-input {
  width: 100px;
}
.qr-footer h5, .qr-footer h4, .qr-footer h6 {
  text-align: center;
  padding: 0mm;
  margin: 0mm;
}
</style>
