<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>
      Grupos
    </span>
    <span flex></span>
    <md-switch class="md-secondary"
               aria-label="Enabled"
               ng-change="removableChange()"
               ng-model="item.enabled"></md-switch>
  </div>
</md-toolbar>
<md-content layout-padding>
  <md-chips ng-model="groups" name="group" readonly="false"
                md-removable="chips.removable"
                md-require-match="true"
                placeholder="Nombre de un nuevo grupo"
                secondary-placeholder="+Grupo"
                md-on-remove="removeGroup($chip, $index)"
                md-transform-chip="createGroup($chip)"
                md-max-chips="50">
    <md-chip-template>
      <strong>{{$chip.name}}</strong>
    </md-chip-template>
  </md-chips>
  <md-toolbar class="md-table-toolbar md-default room-groups">
    <div class="md-toolbar-tools">
      <div ng-if="!search.alive">
        <span ng-click="discartGroup()" ng-if="!search.alive">
          Participantes
        </span>
        <md-button class="md-icon-button" aria-label="search" ng-click="search.alive = true">
          <ng-md-icon icon="search"></ng-md-icon>
        </md-button>
      </div>
      <div ng-if="search.alive" class="search">
        <md-button class="md-icon-button" aria-label="search" ng-click="cancel_search()">
          <ng-md-icon icon="keyboard_backspace"></ng-md-icon>
        </md-button>
        <md-input-container>
          <label>Apellido</label>
          <input ng-model="query.last_name">
        </md-input-container>
        <md-input-container>
          <label>Nombre</label>
          <input ng-model="query.first_name">
        </md-input-container>
        <md-button class="md-icon-button"
                   aria-label="search"
                   ng-click="search_participant(query.last_name, query.first_name)">
          <ng-md-icon icon="search"></ng-md-icon>
        </md-button>
      </div>
      <span flex></span>
      <md-input-container>
        <label>Grupos</label>
        <md-select ng-model="select.group" ng-change="selectGroup()" class="group-select-width-limit">
          <md-optgroup label="grupos">
            <md-option ng-value="group._id" ng-repeat="group in groups">{{group.name}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>
  </md-toolbar>
  <md-table-pagination md-limit="query.limit"
                       md-limit-options="[25, 30, 35]"
                       md-page="query.page"
                       md-total="{{count}}"
                       md-on-paginate="getParticipants"
                       md-page-select></md-table-pagination>
  <div ng-if="participants.length == 0" class="wargos-text-align">
    <b>No existe <i>participantes</i> requistrados</b>
  </div>
  <div layout="row" layout-wrap>
    <div flex="33"
         flex-sm="50"
         flex-xs="100"
        ng-repeat="participant in participants">
      <md-list-item ng-click="addParticipantToGroup(participant, $index)"
                    ng-class="{selectedItem: select.group != null && isMember(participant.groups, select.group)}">
        <img alt="{{participant.first_name}}"
             ng-src="{{loadImage(participant.image)}}"
             class="md-avatar" />
        <p>{{participant.last_name}} {{participant.first_name}}</p>
        <div ng-if="select.group != null">
          <div ng-if="!isMember(participant.groups, select.group)">
            <ng-md-icon icon="exposure_plus_1"
                        aria-label="posi"></md-icon>
          </div>
        </div>
      </md-list-item>
    </div>
  </div>
</md-content>

<style media="screen">
.selectedItem {
  background: rgba(218, 217, 217, 0.99);
}
</style>
