<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Historicos</span>
  </div>
</md-toolbar>

<md-table-pagination md-limit="query.limit"
                    md-limit-options="[5, 10, 15]"
                    md-page="query.page"
                    md-total="{{count}}"
                    md-on-paginate="getItems"
                    md-page-select></md-table-pagination>
<md-content>
  <md-list>
    <md-list-item ng-repeat="item in items"
                  ng-click="selectItem(item)">
       <p>{{item.name}}</p>
       <md-switch class="md-secondary"
                  ng-change="updateItem(item)"
                  ng-model="item.enabled"></md-switch>
    </md-list-item>
    <md-divider></md-divider>
  </md-list>
</md-content>
