<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Historicos</span>
  </div>
</md-toolbar>

<md-table-pagination md-limit="query.limit"
                    md-limit-options="[5, 10, 15]"
                    md-page="query.page"
                    md-total="{{count}}"
                    md-on-paginate="getItems"
                    md-page-select></md-table-pagination>
<md-content>
  <md-list>
    <md-list-item class="md-2-line"
                  ng-repeat="item in items"
                  ng-click="selectItem(item)">
       <div class="md-list-item-text">
         <h3>{{item.name}}</h3>
         <p>Lorem ipsum sit amed</p>
         <md-switch class="md-secondary"
                    ng-change="updateItemLocal(item)"
                    ng-model="item.enabled"></md-switch>
       </div>
    </md-list-item>
    <md-divider></md-divider>
  </md-list>
</md-content>
