<div layout layout-sm="column">
  <div flex>
    <md-list>
      <md-subheader class="md-no-sticky">Participantes</md-subheader>
      <md-list-item class="md-2-line contact-item" ng-repeat="participant in checkParticipants">
        <img ng-src="{{loadImage(participant.image)}}" class="md-avatar" alt="{{participant.first_name}}" />
        <div class="md-list-item-text compact">
          <h3>
            {{participant.first_name}} {{participant.last_name}}
            "<ng-md-icon ng-if="participant.att" icon="{{{'1':'thumb_up', '2': 'thumbs_up_down', '3': 'thumb_down'}[participant.att.stateId]}}" style="fill: black"></ng-md-icon>"
            <md-button class="md-fab md-mini"
                       ng-class="{'1':'md-primary', '2':'', '3':'md-warn'}[state.id]"
                       ng-click="changeStatus(participant, state)"
                       ng-repeat="state in states">
                       <ng-md-icon icon="{{{'1':'thumb_up', '2': 'thumbs_up_down', '3': 'thumb_down'}[state.id]}}" style="fill: black"></ng-md-icon>
            </md-button>
          </h3>
        </div>
      </md-list-item>
    </md-list>
  </div>
  <div flex>
    <md-list>
      <md-subheader class="md-no-sticky">Tomar asistencia por codigo</md-subheader>
    </md-list>
    <form name="containerForm" ng-submit="changeUserAttendanceAttState(item)">
      <md-input-container class="md-block" flex-gt-xs>
        <label>Codigo</label>
        <input ng-model="item.code">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-xs>
        <label>State</label>
        <md-select ng-model="item.state">
          <md-option ng-repeat="state in states" value="{{state.id}}">
            {{state.title}}
          </md-option>
        </md-select>
      </md-input-container>
      <div layout="row">
        <md-button type="submit" class="md-raised md-primary">Validar codigo</md-button>
      </div>
    </form>
    <md-list>
      <md-subheader class="md-no-sticky">Codigo Inexistente</md-subheader>
      <md-content class="md-padding" layout="column">
        <md-chips>
          <md-chip ng-repeat="code in failCodes track by $index">
            {{code}}
          </md-chip>
        </md-chips>
    </md-list>
  </div>
  <div flex>
    <div layout layout-sm="column">
      <div flex="20">
      </div>
      <div flex="60">
        <md-card ng-if="currentparticipant">
          <md-card-content>
              <img class="md-card-image att-unique-img" ng-src="{{loadImage(participant.image)}}" />
              <h2 class="md-title att-md-title">
                {{currentparticipant.first_name}} {{currentparticipant.last_name}}
              </h2>
              <h1 class="att-md-title">
                {{currentparticipant.uid}}
              </h1>
          </md-card-content>
        </md-card>
      </div>
      <div flex="20">
      </div>
    </div>
  </div>
</div>
<style media="screen">
.att-unique-img {
  width: 100%;
  height: auto;
}
.att-md-title {
  text-align: center;
}
</style>
