<md-toolbar class="md-primary">
  <h1 class="md-toolbar-tools">
    Actualizar Grupo
  </h1>
</md-toolbar>
<md-content layout-padding>
  <form ng-submit="update(item)">
    <md-input-container class="md-block" flex-gt-xs>
      <label>Nombre</label>
      <input required type="text" name="name" ng-model="item.name" />
      <div ng-messages="containerForm.first_name.$error" role="alert">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>
    <div layout="row">
      <md-button class="md-raised" ui-sref="attendance.detail">Cancelar</md-button>
      <md-button type="submit" class="md-raised md-primary">Actualizar</md-button>
    </div>
  </form>
</md-content>
<md-toolbar class="md-warn">
  <h1 class="md-toolbar-tools">
    Eliminar
  </h1>
</md-toolbar>
<md-content layout-padding>
  <div layout="row">
    <md-button class="md-raised"
               ng-click="remove(item)">Eliminar</md-button>
  </div>
</md-content>
